<template>
  <h1>Hello, this is the dev app for plugin get-url-params</h1>
  <p>Please read the <a href="README.md">README</a> file in your project for more information.</p>

  <get-param></get-param>

</template>